.venv/
__pycache__/
*.pyc
*.sqlite3
.env
.DS_Store

# Django: ignore all migrations, keep package marker
**/migrations/**
!**/migrations/__init__.py


# Python template
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
# *.egg-info/
.installed.cfg
*.egg
MANIFEST
